### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

# token 사용 관련
flutter/lib/api/client/*.g.dart
flutter/lib/api/token.dart

# flutter
flutter/.dart_tool
flutter/.idea
flutter/.vscode
flutter/build

flutter/update.sh
flutter/token.dart

# spring
spring

